Lambda School Data Science

*Unit 2, Sprint 3, Module 3*

---


# Applied Modeling, Module 3

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your work.

- [ ] Continue to iterate on your project: data cleaning, exploration, feature engineering, modeling.
- [ ] Make at least 1 partial dependence plot to explain your model.
- [ ] Share at least 1 visualization on Slack.

(If you have not yet completed an initial model yet for your portfolio project, then do today's assignment using your Tanzania Waterpumps model.)

## Stretch Goals
- [ ] Make multiple PDPs with 1 feature in isolation.
- [ ] Make multiple PDPs with 2 features in interaction. 
- [ ] Use Plotly to make a 3D PDP.
- [ ] Make PDPs with categorical feature(s). Use Ordinal Encoder, outside of a pipeline, to encode your data first. If there is a natural ordering, then take the time to encode it that way, instead of random integers. Then use the encoded data with pdpbox. Get readable category names on your plot, instead of integer category codes.

## Links
- [Christoph Molnar: Interpretable Machine Learning — Partial Dependence Plots](https://christophm.github.io/interpretable-ml-book/pdp.html) + [animated explanation](https://twitter.com/ChristophMolnar/status/1066398522608635904)
- [Kaggle / Dan Becker: Machine Learning Explainability — Partial Dependence Plots](https://www.kaggle.com/dansbecker/partial-plots)
- [Plotly: 3D PDP example](https://plot.ly/scikit-learn/plot-partial-dependence/#partial-dependence-of-house-value-on-median-age-and-average-occupancy)

In [1]:
import pandas as pd

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install eli5
    !pip install pdpbox

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [3]:
df = pd.read_csv('asteroids.csv')
df.shape

C:\Users\Westopher\Coding\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,15,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(137636, 31)

In [4]:
df.isnull().sum()

name              122512
a                      0
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     0
per_y                  0
data_arc             138
condition_code         0
n_obs_used             0
H                    747
neo                    0
pha                    0
diameter               0
extent            137620
albedo              1230
rot_per           126448
GM                137622
BV                136631
UB                136671
IR                137635
spec_B            136266
spec_T            136671
G                 137517
moid                   0
class                  0
n                      0
per                    0
ma                     0
dtype: int64

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
a,137636.0,2.814613,1.522740,6.262255e-01,2.536714,2.750859,3.092537,3.891460e+02
e,137636.0,0.145485,0.077573,4.885363e-04,0.089623,0.138543,0.191141,9.843482e-01
i,137636.0,10.349182,6.835111,2.185490e-02,5.120506,9.389963,13.738588,1.703236e+02
om,137636.0,169.827629,102.713052,7.381194e-04,82.334880,160.438430,256.268387,3.599909e+02
w,137636.0,181.904551,103.556464,4.466267e-03,91.947943,183.669900,271.762261,3.599952e+02
q,137636.0,2.402609,0.516169,8.188215e-02,2.068948,2.363897,2.685811,4.046567e+01
ad,137636.0,3.226618,2.896374,9.999559e-01,2.864438,3.167516,3.468608,7.722011e+02
per_y,137636.0,4.884248,25.532565,4.955693e-01,4.040317,4.562581,5.438518,7.676743e+03
data_arc,137498.0,8969.818601,6165.176190,1.000000e+00,6291.000000,7572.000000,9731.000000,7.268400e+04
condition_code,137636.0,0.485207,1.966078,0.000000e+00,0.000000,0.000000,0.000000,9.000000e+00
n_obs_used,137636.0,675.027740,595.935104,5.000000e+00,215.000000,496.000000,984.000000,9.325000e+03
H,136889.0,15.177041,1.407654,3.200000e+00,14.400000,15.300000,16.100000,2.990000e+01
albedo,136406.0,0.130066,0.109994,1.000000e-03,0.053000,0.078000,0.188000,1.000000e+00
rot_per,11188.0,23.566011,74.829904,2.995220e-02,4.670000,7.560000,14.579500,1.880000e+03
GM,14.0,7.821928,16.788805,2.100000e-09,0.001022,0.619250,6.500000,6.262840e+01
BV,1005.0,0.768844,0.088327,5.800000e-01,0.700000,0.743000,0.850000,1.077000e+00
UB,965.0,0.364108,0.095707,1.200000e-01,0.289000,0.360000,0.439000,6.550000e-01
IR,1.0,-0.330000,NaN,-3.300000e-01,-0.330000,-0.330000,-0.330000,-3.300000e-01
G,119.0,0.178739,0.134603,-2.500000e-01,0.100000,0.190000,0.250000,6.000000e-01
moid,137636.0,1.420145,0.512241,1.663920e-04,1.082523,1.384935,1.699385,3.950700e+01
n,137636.0,0.219640,0.056980,1.283912e-04,0.181231,0.216024,0.243948,1.988877e+00
per,137636.0,1783.971577,9325.769218,1.810067e+02,1475.725941,1666.482802,1986.418660,2.803930e+06
ma,137636.0,183.116785,103.411497,5.174641e-04,94.301261,186.826667,271.468299,3.600000e+02

In [6]:
df.describe(include = object).T

           count unique          top    freq
name       15124  15124     Buckjean       1
neo       137636      2            N  136786
pha       137636      2            N  137415
diameter  137636  26442        3.296      43
extent        16     16  582x556x500       1
spec_B      1370     31            S     368
spec_T       965    128            S     329
class     137636     11          MBA  126390